extends layout

block headcontent
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==', crossorigin='anonymous')
	script
		include partials/twitter.js

block content
	h1.text-center Christmas Cheer
		span.lead  live sentiment analysis of tweets about Christmas 
	div.row
		div.col-md-4.text-center
			h2 Nice List 🎅
			ul#positive-tweet.tweet.list-unstyled
				li
					img(src='/images/loading.gif')
		div.col-md-4.text-center
			h2 Data 🎁 

			div.row
				div#tweetTotal
				|  total tweets*

			div.row
				div.col-xs-3
					p#tweetPerSecond.lead
					span tweets per second
				div.col-xs-3
					p#negativeTotal.lead
					span negative tweets
				div.col-xs-3
					p#neutralTotal.lead
					span neutral tweets
				div.col-xs-3
					p#positiveTotal.lead
					span positive tweets

		div.col-md-4.text-center
			h2 Naughty List 😈
			ul#negative-tweet.tweet.list-unstyled
				li
					img(src='/images/loading.gif')


	script(src='/socket.io/socket.io.js')
	script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	script(src='/javascript/front.js')